<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        
        <div class="grid">
             
             <div class="block block_1">
                 <h1 class="main_title">Lorem ipsum dolor sit amet.</h1>

                 
             </div>
               
             <div class="block block_2">
                 <h3 class="main_title">
                     Lore   m ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos unde tenetur ipsum laudantium odio, est, perferendis, dolore expedita vero ullam architecto illo! Ducimus earum veniam pariatur, rerum velit porro numquam amet aut. Corporis error minima itaque consequatur assumenda voluptatibus aliquam.
                 </h3>
                 <ul class="side_text">
                     <li>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam provident optio iste recusandae libero necessitatibus odio modi animi cum! Animi!</li>
                     <li>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio corporis similique magni molestias expedita, neque sequi fugiat. Ipsa, molestias, laboriosam?</li>
                     <li>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel recusandae quisquam natus veniam asperiores quis dicta voluptatem qui delectus, vitae?</li>
                     <li>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit numquam nihil alias perspiciatis provident, officiis nulla distinctio inventore vel, nesciunt!</li>
                     <li>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis facilis, nulla inventore sit. Earum fuga obcaecati distinctio, similique reprehenderit.</li>
                     
                 </ul>
             </div>
               
        </div>
        
    </div>
</body>
</html>