.main-ul img{
    width: 100px;
    height: 100px;

}
.main-ul{
    display: inline-block;
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
}
nav {
    float: left;
}
main div{
    display: inline-block;
    width: 800px;
}
