<section id="viewEditBook">
    <h1>Edit existing book</h1>
    <form id="formEditBook">
        <div><input type="hidden" name="id" required /></div>
        <div>Title:</div>
        <div><input type="text" name="title" required /></div>
        <div>Author:</div>
        <div><input type="text" name="author" required /></div>
        <div>Description:</div>
        <div><textarea name="descr" rows="10"
                       required></textarea></div>
        <div><input type="submit" value="Edit" /></div>
    </form>
</section>