<section id="viewBooks">
    <h1>Books</h1>
    <div id="books">
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Book title</td>
                <td>Book author</td>
                <td>Book description</td>
                <td>
                    <a href="#">[Delete]</a>
                    <a href="#" onclick="editPost()" >[Edit]</a>
                </td>
            </tr>
            <tr>
                <td>Book title</td>
                <td>Book author</td>
                <td>Book description</td>
                <td>
                    <a href="#">[Delete]</a>
                    <a href="#" onclick="editPost()" >[Edit]</a>
                </td>
            </tr>
        </table>
    </div>
</section>