*{
    margin: 0;
    padding: 0;
    
}
.container{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
.container img{
    display: inline-block;
    width: 200px;
    z-index: 2;
    transition:all 1s linear;
}

.radio{
    width: 620px;
    margin: 0 auto;
    height: 400px;
    margin-top: 20vh;
    text-align: center;
}
.text{
    z-index: 0;
    position: absolute;
    margin: 0 auto;
    width: 620px;
    opacity: 0.01;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    transition:all 1s linear;
    margin-top: 140px;
    font-family: 'Arbutus', cursive;
}

.img1{
    position: absolute;
    right: 50%;
   
}
.img2{
    position: absolute;
    left: 50%;
   
}
.radio:hover .img1{
    right: 65%;
}
.radio:hover .img2{
    left: 65%;

}
.radio:hover .text{
    opacity: 1;
}

