*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: block;
    top: 0px;
    padding: 1px;
    position: relative;
}

p.book_title {
    font-size: 26px;
}

.book {
    display: inline-block;
    width: 20%;
    min-width: 280px;
    margin: 20px 0px;
}

.results_books {
    padding: 10px;
    text-align: center;
    background: white;
}

.sort li {
    display: inline-block;
    padding: 10px;
}

ul.sort {list-style: none;}

.section_1 {
    text-align: center;
    width: 100%;
    padding: 25px 0px;
}

.book_serch {
    display: inline-block;
    width: 20%;
    margin: 20px 20px;
}

.main {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 100%;
}

.back1 {
    height: 500px;
    background: url(../img/back1.jpg);
    /* background-size: cover; */
    position: absolute;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: 100%;
}

.main_title {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    color: white;
}

.register {
    display: inline-block;
    width: 90%;
    max-width: 450px;
    float: right;
    color: white;
    text-align: center;
}
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}


nav {
    right: 0;
    position: relative;
}

.top {
    padding: 5px 0px;
    position: relative;
    background: #e68c56;
    height: 55px;
}
body{
    background: #ffe8db;
}
container{
    display: block;
    margin: 0 auto;
    width: 80%;
}

.results container {
    border: 1px dashed black;
    padding: 10px;
}
header{
    /* display: block; */
    width: 100%;
    position: absolute;
    height: 500px;
    background: #ffffff00;
}
.logo{
    position: absolute;
    left: 0;
    color: brown;
    font-weight: bold;
    font-size: 37px;
}
.nav{}
.nav_ul{position: absolute;right: 0;padding: 6px;}
.register label{
    display: block;
    margin: 0 auto;
    width: 78%;
}
input{
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff;
}

.serch_input input {
    width: 35%;
}

input#search {
    width: 100px;
    background-color: green;
    color: white;
}

.register input {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

input#register {
    background-color: green;
    width: 50%;
    margin: 0 auto;
    color: white;
    display: block;
}
header_main{}
.main_header{
    font-size: 72px;
}
.sub_header{
    font-size: 29px;
}
register{}
main{}
.clear{
    clear: both;
}

header_main{}
header_main{
    margin-top: 100px;
    display: block;
}


  

