ul {
    padding:0;
    height: 40px;
    line-height: 30px;
    background-color: #84b3ad;
}
ul li{
    width: 100px;
    margin: 0 5px;
    padding:5px 0;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}
ul li:hover{
    background-color: #135e3e;
}